
@media (max-width: 1400px){
  .infoMe{
    width: 50%;
  }
}


@media (max-width: 1300px){
  .intro--banner h1{
    font-size: 50px;
  }
  .intro--banner p{
    font-size: 22px;
  }
  
  .intro--banner img {
    width: 700px;
    height: 350px;
  }

  .infoMe{
    width: 60%;
  }

}


@media (max-width: 1100px) {
  .intro--banner h1{
    font-size: 50px;
  }
  .intro--banner p{
    font-size: 25px;
  }
  .intro--banner img {
    width: 850px;
  }


  .btnTechWeb{
    display: grid;
    justify-content: center;
  }
  
  .btnTechWeb .button{
    justify-self: center;
  }

  .techs{
    justify-content: space-between;
  }

  .techLogo{
    margin-right: 10px;
    margin-left: 10px;
  }

  .tooltip{
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


  .tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #0b798a transparent transparent transparent;
    transform: translate(-50%, 360%);
    -webkit-transform: translate(-50%, 360%);
    -moz-transform: translate(-50%, 360%);
    -ms-transform: translate(-50%, 360%);
    -o-transform: translate(-50%, 360%);
}

  .techLogo:hover .tooltip,.btnLink:hover .tooltip {
    top: 0;
    transform: translate(-50%, -120%);
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
}
  
}

@media (max-width: 1080px) and (max-height: 2400px) {
  /* Your styles for Motorola */
  html{
    rotate: 90deg;
  }
  
  .perspective{
    overflow: visible;
    width: 2000px;
    height:1000px;
    left: 30vh;
    top: 10vw;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 1000px;
  }

  #viewport{
    height: 1000px;
  }
}

@media (max-width: 1080px) and (max-height: 1920px) {
  /* Your styles for Motorola Moto G5 S Plus */
  /*GRAL*/
  .perspective{
    overflow: visible;
    width: 500px;
    height: 300px;
    left: 7vh;
    top: 5vh;
    /* left: 25%; */
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 300px;
  }

  #viewport{
    height: 300px;
  }



  /*SideNav*/
  .side-nav{
    width: 45px;
  }
  .side-nav li span, .side-nav li::before, .side-nav li.is-active{
    font-size: 7px;
  }
  .side-nav li.is-active::before{
    left: -15px;
  }


  /*OuterNav*/
  .header--nav-toggle{
    width: 20px;
    height: 20px;
  }
  .header--nav-toggle span{
    width: 14px;
  }
  .header--nav-toggle::after, .header--nav-toggle::before{
    width: 20px;
  }
  .outer-nav li span, .outer-nav li{
    font-size: 18px;
  }
  .outer-nav li{
    padding: 10px 0;
  }

  .outer-nav li::before{
    height: 30px;
  }

  .outer-nav li.is-active::before{
    outline: 5px solid #FF7B00;;
  }


  /*Projects*/
  .projInfo{
    height: 5vw;
  }
  .projInfo .title{
    margin-top: 0;
    font-size: 10px;
  }
  .projInfo .description{
    margin-top: 0;
    font-size: 8px;
  }
  .btnTechWeb{
    height: 30px;
    margin-top: 0;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .techs{
    margin-left: 0;
    /* height: 1vh; */
  }
  .techLogo svg{
    width: 0.8vh;
  }
  .techs .techLogo .tooltip{
    /* font-size: 7px;
    top: -1px; */
    height: 10px;
    width: 25px;
  }
  .btnTechWeb .button{
    margin-bottom: 7px;
    height: 1vh;
    width: 3vh;
    box-shadow: 2px 2px var(--main-color);
  }  
  .btnTechWeb .button .button__text{
    font-size: 6.5px;
    transform: translate(5px);
    -webkit-transform: translate(5px);
    -moz-transform: translate(5px);
    -ms-transform: translate(5px);
    -o-transform: translate(5px);
  }
  .btnTechWeb .button .button__icon{
    width: 10px;
    transform: translate(47px);
    -webkit-transform: translate(47px);
    -moz-transform: translate(47px);
    -ms-transform: translate(47px);
    -o-transform: translate(47px);
  }
  .button:hover .button__icon {
    width: 62px;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: var(--swiper-pagination-bottom,-7px);
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 5px;
    height: 5px;
  }
  .swiperBtn{
    width: 2px;
    height: 0;
    --swiper-navigation-size: 20px;
  }



  /*Home*/
  .intro--banner h1{
    font-size: 16px;
    margin-top: 30px;
  }

  .intro--banner p{
    font-size: 11px;
  }

  #imgHome{
    width: 12vh;
    height: 10vw;
  }


  /*AboutMe*/
  .aboutMe{
    font-size: 8px;
    width: 400px;
    height: 200px;
  }
  .aboutMe p{
    font-size: 8px;
  }
  .about{
    height: 8vh;
  }
  .photoMe{
    padding-left: 0px;
    width: 4vh;
  }
  .techLogo .tooltip{
    transition: opacity 0.3s, top 0.3s, background 0.3s;
    -webkit-transition: opacity 0.3s, top 0.3s, background 0.3s;
    -moz-transition: opacity 0.3s, top 0.3s, background 0.3s;
    -ms-transition: opacity 0.3s, top 0.3s, background 0.3s;
    -o-transition: opacity 0.3s, top 0.3s, background 0.3s;
}
  .techLogo:hover .tooltip{
    transform: translate(-50%, -35px);
    -webkit-transform: translate(-50%, -35px);
    -moz-transform: translate(-50%, -35px);
    -ms-transform: translate(-50%, -35px);
    -o-transform: translate(-50%, -35px);
}
  .techLogo:hover .tooltip, .btnLink:hover .tooltip{
    font-size: 7px;
    top: -1px;
    height: 10px;
    width: 25px;
  }
  .tooltip::before{
    border-width: 6.8px;
  }
  .btnLogo{
    width: 15px;
    margin-top: 0;
  }
  .contact .button{
    width: 70px;
    height: 20px;
    box-shadow: 2px 2px var(--main-color);
  }
  .button .button__text{
    font-size: 7.5px;
    transform: translate(8px);
    -webkit-transform: translate(8px);
    -moz-transform: translate(8px);
    -ms-transform: translate(8px);
    -o-transform: translate(8px);
}
  .button .button__icon{
    width: 15px;
    transform: translate(56px);
    -webkit-transform: translate(56px);
    -moz-transform: translate(56px);
    -ms-transform: translate(56px);
    -o-transform: translate(56px);
  }

}



@media (max-width: 1024px) and (max-height: 1368px){
    
  .perspective{
    overflow: visible;
    width: 1100px;
    height: 900px;
    left: 24vh;
    top: 5vh;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 900px;
  }

  #viewport{
    height: 900px;
  }


  .swiperBtn{
    opacity: .5;
    /* z-index: -10; */
  }

}



@media (max-width: 720px) and (max-height: 1650px) {
  /* Your styles for Xiaomi 10c */
  
  .perspective{
    overflow: visible;
    width: 1200px;
    height: 700px;
    left: 24vh;
    top: 2vh;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 700px;
  }

  #viewport{
    height: 700px;
  }
  

}



/*ESTOS DOS DE ABAJO PERTENECEN A "NEST HUB" Y "NEST HUB MAX". NO HACE FALTA Q LOS DE VUELTA*/
@media (width: 1024px) and (height: 600px){}
@media (width: 1280px) and (height: 800px){}






/* 
@media (max-width: 920px){
  
  .intro--banner h1{
    font-size: 45px;
  }
  .intro--banner p{
    font-size: 22px;
  }
  
  .intro--banner img {
    width: 800px;
    width: 80%;
    height: 50%;
  }

  .swiperBtn{
    opacity: 0;
    z-index: -10;
  }

} */


