
@media (max-width: 1400px){
  .infoMe{
    width: 50%;
  }
}


@media (max-width: 1300px){
  .intro--banner h1{
    font-size: 50px;
  }
  .intro--banner p{
    font-size: 22px;
  }
  
  .intro--banner img {
    width: 700px;
    height: 350px;
  }

  .infoMe{
    width: 60%;
  }

}


@media (max-width: 1100px) {
  .intro--banner h1{
    font-size: 50px;
  }
  .intro--banner p{
    font-size: 25px;
  }
  .intro--banner img {
    width: 850px;
  }


  .btnTechWeb{
    display: grid;
    justify-content: center;
  }
  
  .btnTechWeb .button{
    justify-self: center;
  }

  .techs{
    justify-content: space-between;
  }

  .techLogo{
    margin-right: 10px;
    margin-left: 10px;
  }

  .tooltip{
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


  .tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #0b798a transparent transparent transparent;
    transform: translate(-50%, 360%);
    -webkit-transform: translate(-50%, 360%);
    -moz-transform: translate(-50%, 360%);
    -ms-transform: translate(-50%, 360%);
    -o-transform: translate(-50%, 360%);
}

  .techLogo:hover .tooltip,.btnLink:hover .tooltip {
    top: 0;
    transform: translate(-50%, -120%);
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
}
  
}

@media (max-width: 1080px) and (max-height: 2400px) {
  /* Your styles for Motorola */
  html{
    rotate: 90deg;
  }
  
  .perspective{
    overflow: visible;
    width: 2000px;
    height:1000px;
    left: 30vh;
    top: 10vw;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 1000px;
  }

  #viewport{
    height: 1000px;
  }
}

@media (max-width: 1080px) and (max-height: 1920px) {
  /* Your styles for Motorola Moto G5 S Plus */
  /*GRAL*/
  body{
    zoom: 0.75;
  }

  .perspective{
    overflow: visible;
    width: 800px;
    height: 600px;
    left: 7vh;
    top: 5vh;
    /* left: 25%; */
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 600px;
  }

  #viewport{
    height: 600px;
  }



  /*SideNav*/
  .side-nav li span, .side-nav li::before, .side-nav li.is-active{
    font-size: 9px;
  }


  /*OuterNav*/
  .outer-nav li span, .outer-nav li{
    font-size: 18px;
  }
  .outer-nav li{
    padding: 10px 0;
  }

  .outer-nav li::before{
    height: 30px;
  }

  .outer-nav li.is-active::before{
    outline: 5px solid #FF7B00;;
  }


  /*Projects*/
  .projInfo{
    height: 15vw;
  }
  .projInfo .title{
    font-size: 16px;
  }
  .projInfo .description{
    margin-top: 0;
    font-size: 11px;
  }
  .btnTechWeb{
    height: 60px;
    margin-top: 0;
  }
  .techs{
    margin-left: 0;
    /* height: 1vh; */
  }
  .techLogo svg{
    width: 1vh;
  }
  .btnTechWeb .button{
    height: 2vh;
  }



  /*AboutMe*/
  .intro--banner h1{
    font-size: 40px;
  }

  .intro--banner p{
    font-size: 20px;
  }

  #imgHome{
    width: 25vh;
    height: 20vw;
  }

  .aboutMe{
    font-size: 11px;
  }
  .aboutMe p{
    font-size: 13px;
  }
  .photoMe{
    padding-left: 20px;
  }

}



@media (max-width: 1024px) and (max-height: 1368px){
    
  .perspective{
    overflow: visible;
    width: 1100px;
    height: 900px;
    left: 24vh;
    top: 5vh;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 900px;
  }

  #viewport{
    height: 900px;
  }


  .swiperBtn{
    opacity: .5;
    /* z-index: -10; */
  }

}



@media (max-width: 720px) and (max-height: 1650px) {
  /* Your styles for Xiaomi 10c */
  
  .perspective{
    overflow: visible;
    width: 1200px;
    height: 700px;
    left: 24vh;
    top: 2vh;
  }

  .perspective--modalview{
    position: relative;
  }

  .container{
    height: 700px;
  }

  #viewport{
    height: 700px;
  }
  

}



/*ESTOS DOS DE ABAJO PERTENECEN A "NEST HUB" Y "NEST HUB MAX". NO HACE FALTA Q LOS DE VUELTA*/
@media (width: 1024px) and (height: 600px){}
@media (width: 1280px) and (height: 800px){}






/* 
@media (max-width: 920px){
  
  .intro--banner h1{
    font-size: 45px;
  }
  .intro--banner p{
    font-size: 22px;
  }
  
  .intro--banner img {
    width: 800px;
    width: 80%;
    height: 50%;
  }

  .swiperBtn{
    opacity: 0;
    z-index: -10;
  }

} */


