/*
          ------------INDEX------------
          1- GRAL
          2- HEADER
          3- NAVS
            3.1- SIDE NAVS
            3.2- OUTER NAVS
          4- SECTIONS
            4.1- INTRO
            4.2- PROJECTS
              4.2.a- SLIDER
            4.3- POPUP <------- ELIMINAR SECCION
              4.3.a- Gral
              4.3.b- Btn Close
              4.3.c- Project Info
              4.3.d- Project Techs
            4.3- ABOUT ME
              4.3.a- Btn Portfolio
          5- BTN LOGOS
          6- EFFECTS
          7- RESPONSIVE DESIGN
*/

/*1- GRAL*/

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
} */

body { /*FONDO*/
  display: flex;
  margin: 0;
  background: #1b263b;
  /* background: #14213d; */
  /* background: #2b2d42; */
  /* background-color: #1B2432;  */
  font-size: 14px;
  line-height: 1.6;
  justify-content: center;
  font-family: "Roboto Mono", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.perspective--modalview {
  position: fixed;
  perspective: 1500px;
}

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  /* box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85); */
  overflow: hidden;
}

.l-wrapper {
  /*background: #05668D;*/
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}






/*2- HEADER*/
.header {
  position: absolute;
  top: 0;
  /* left: 95%; */
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header--nav-toggle {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 2%;
  
}
.header--nav-toggle span, .header--nav-toggle::before, .header--nav-toggle::after {
  content: "";
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #FCFAFA;
}
.header--nav-toggle::before {
  bottom: 5px;
  width: 23px;
}
.header--nav-toggle::after {
  top: 5px;
  width: 23px;
}


/*3- NAVS*/

/*3.1- SIDE NAV*/

.l-side-nav {
  position: absolute;
  left: 0;
  display: flex;
  height: 90%;
  /* height: 100%; */
  align-items: center;
}
.l-side-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 50%;
  max-height: 750px;
  background-color: #ADB5BD;
  opacity: 0.45;
  z-index: 10;
}
.side-nav {
  position: relative;
  display: flex;
  width: 100px;
  height: 70%;
  max-height: 750px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
}
.side-nav > li {
  position: relative;
  top: -5px;
  color: #ADB5BD; /*punto del sidenav no seleccionado*/
  font-size: 10px;
  cursor: pointer;
}
.side-nav > li span {
  position: relative;
  /* top: 3px; */
  /* left: 10px; */
  color: #FCFAFA; /*li seleccionado*/
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
.side-nav > li::before {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #ADB5BD; /*li no seleccionados*/
  font-size: 14px;
  font-weight: 300;
}
.side-nav li:nth-child(1)::before {
  content: "01";
}
.side-nav li:nth-child(2)::before {
  content: "02";
}
.side-nav li:nth-child(3)::before {
  content: "03";
}
/* .side-nav li:nth-child(4)::before {
  content: "04";
}
.side-nav li:nth-child(5)::before {
  content: "05";
} */
.side-nav li.is-active {
  color: #FCFAFA; /*punto seleccionado del side nav*/
  transition: color 0.4s ease-in-out;
  font-size: 14px;
}
.side-nav li.is-active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
  top: 0;
  left: -33px;
  color: #FCFAFA; /*numero a la izquierda del nombre del li*/
}


/*3.2- OUTER NAV*/

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
  visibility: visible;
}
.outer-nav--return {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 11;
}
.outer-nav--return.is-vis {
  display: block;
}
.outer-nav > li {
  transform-style: preserve-3d;
  transform: translateX(350px) translateZ(-1000px);
  font-size: 55px;
  font-weight: 900;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.outer-nav > li.is-vis {
  transform: translateX(0) translateZ(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}
.outer-nav > li::before {
  content: "";
  position: absolute;
  margin-top: 10%;
  /* top: 25%; */
  left: 50%;
  transform: translate(-50%, -25%);
  width: 110%;
  height: 75px;
  opacity: 0;
  z-index: -1;
}

.outer-nav > li.is-active::before {
  opacity: 1;
  background-color: #FFA200;
  outline: 8px solid #FF7B00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.outer-nav li.is-vis:nth-child(2) {
  transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
  transition-delay: 0.08s;
}
/* .outer-nav li.is-vis:nth-child(4) {
  transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
  transition-delay: 0.16s;
} */




/*4- SECTIONS*/
.l-main-content {/*FONDO*/
  /* background: #1B2432; */
  /* background: #ff6f00d7; */
  background: #03071e; 
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
  list-style: none;
  /* box-shadow: 15px 2px 45px 5px white; */
  box-shadow: 25px 25px 25px 10px #121420;
}

.l-section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
  transform: translateY(-45px);
  transition: transform 0.4s ease-in-out;
}
.section--prev {
  transform: translateY(45px);
  transition: transform 0.4s ease-in-out;
}



/*4.1- INTRO*/
.intro {
  position: relative;
  display: flex;
  width: 100%;
  /* width: 900px; */
  /* max-width: 75%; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.intro--banner {
  position: relative;
  /* height: 475px; */
  height: 100%;
  width: 100%;
}
.intro--banner::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  /* background-color: #282828; */
}
.intro--banner::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 30px;
  height: 4px;
  /* background-color: #0f33ff; */
}
.intro--banner h1 {
  position: relative;
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 15%;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  color: #ff6f00d7;
  /* color: #FCFAFA; */
  top: 0;
  /* bottom: 15%; */
}
.intro--banner p{
  position: relative;
  font-size: 30px;
  font-weight: 100;
  margin-left: 15%;
  line-height: 1;
  margin-top: 0;
  color: rgb(228, 227, 227);
  /* color: #dee2e6d3; */
  z-index: 1;
  /* width: 1150px; */
  top: 5%;
  max-width: 800px;
}
.intro--banner img {
  border: 0;
  position: absolute;
  bottom: 2%;
  right: 0%;
  left: auto;
  width: auto;
  height: auto;
  /* top: 35%; */
  /* left: 35%; */
  opacity: 0.9;
}





/* 4.2- PROJECTS */
.projects{
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.btnTechWeb{
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}




/*4.2.a- SLIDER*/
#default-carousel{
  height: 100%;
}
.swiper{
  height: 100%;
}
.swiper-wrapper{
  height: 100%;
  width: 100%;
}

.swiper-slide{
  position: relative;
  top: 10%;
  bottom: 10%;
  height: 85%;
}

.swiper-slide img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.swiper-slide .projInfo{
  bottom: 10px;
  left: 20px;
  /*height: 100%;
  */width: 40%;
  position: absolute;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #2b2d42;
  border: 2px solid #D6D6E7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.projInfo h2{
  color: #ff6f00fd;
}

.projInfo p{
  color: #ced4da;
  /* color: #adb5bd; */
}

.swiper-pagination-bullet{
  background: white;
}


.swiperBtn{
  --swiper-navigation-size: 44px;
  --swiper-navigation-sides-offset: 15px;
  width: 30px;
  height: 45px;
  color:rgba(255, 255, 255, 0.752);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1em;
  font-weight: 550;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.swiperBtn:hover{
  color: #315cfd;
  font-size: 1.5em;
}

.swiper-pagination-bullet:hover{
  background: #315cfd;
  opacity: 1;
}



.techs{
  display: inline-block;
  position: relative;
  margin-left: 8px;
  left: 0;
}


/* ELIMINAR DESDE??? */
.projInfo button{
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}


.projInfo button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.projInfo button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.projInfo button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
/* ELIMINAR HASTA??? */


/* ELIMINAR DESDE */
/*4.3- POPUP*/
/*4.3.a- Gral*/
.popup {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 100;
}

#popupContent {
  background-color: #fff;
  width: 40%;
  height: 60%;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.hidden {
  display: none;
}

/*4.3.b- Btn Close*/
.btnPopUpContainer{
  display:flex;
  justify-content: center;
  height: 3rem;
  position: absolute; 
  top: 5px; 
  right: 5px;
}

.btnPopUp{
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#closeBtn {
  background: rgb(255, 47, 0);
  color: whitesmoke;
  margin-left: 5px;
}

#closeBtn:hover{
  background: rgb(190, 35, 1);
  color: whitesmoke;
}




/*4.3.c- Project Info*/

#projectInfo{
  color: red;
}


#imgLink{
  left: 0;
  top: 0;
  position: relative;
  height: 25%;
  width: 25%;
}

#popImg{
  height: 100%;
  width: 100%;
}


#popLink, #popGit{
  background: none;
  height: 30px;
  width: 40px;
  position: absolute;
  bottom: 0;
  border: none; 
}
#popLink{
  left: 0;
}


#popGit{
  right: 0;
}

#popLink img, #popGit img{
  height: 100%;
  width: 100%;
}


#titDesc{
  position: absolute;
  left: 5%;
  width: 50%;
  text-align: start;
  /* padding-left: 20px; */
}






/*4.3.d- Project Techs*/
#projectTechs{
  color: red;
  position: absolute;
  right: 30%;
  top: 10%;
  width: 30px;
  height: 100%;
}

#popTechs{
  width: 50%;
  text-align: center;
}

#popTechs img{
  width: 30px;
  height: 30px;
}

#popTechs img::hover{ /*NO ME FUNCIONA*/
  cursor: none;
}

/* ELIMINAR HASTA */


/*4.3- ABOUT ME */
.aboutMe{
  display: flex;
  position: relative;
  /* background: #000; */
  width: 80%;
  /*width: 800px;*/ /*MODIFICAR*/
  height: 300px;
  /* justify-content: space-between; */
  top: 50%;
  justify-content: center;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.infoMe{
  width: 40%;
  padding-right: 20px;
}

.photoMe{
  width: 20%;
  pointer-events: none;
  padding-left: 30px;
}

.photoMe img{
  width: 100%;
  height: fit-content;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.contact{
  /* background: red; */
  /* position: absolute; */
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.about{
  /* background: blue; */
  /* position: absolute; */
  top: 0;
  height: 90%;
  width: 100%;
}


/*ELIMINAR DESDE*/
.contact>.git{
  margin-right: 20px;
  height: 100%;
  /* filter: invert(99%) sepia(2%) saturate(2618%) hue-rotate(118deg) brightness(111%) contrast(98%);
  -webkit-filter: invert(99%) sepia(2%) saturate(2618%) hue-rotate(118deg) brightness(111%) contrast(98%); */
}
.contact>.linkedin{
  margin-left: 20px;
  margin-right: 30px;
  height: 100%;
}

.linkedin>img, .git>img{
  bottom: 0;
  left: 0;
  /* background: wheat; */
  width: 100%;
  height: 100%;
}
/*ELIMINAR HASTA*/





/*4.3.a- Btn Portfolio*/
.button {
  --main-focus: #2d8cf0;

  /* --font-color: #323232; */
  --font-color: black;

  /* --bg-color-sub: #dedede; */
  /* --bg-color-sub: #ff6f00d7; */
  --bg-color-sub: #ff6f00;

  /* --bg-color: #eee; */
  --bg-color: #ced4da;

  /* --main-color: #323232; */
  --main-color: #495057;

  position: relative;
  top: -2px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

/* .projInfo .button{
  left: 90%;
  top: 65%;
  top: 0;
  position: relative;
} */

/* .techs{
  background: red; 
  display: inline-block;
  position: relative;
  margin-left: 8px;
  left: 0;
} */



.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
  font-family: "Roboto Mono";
}

.button .button__icon {
  position: absolute;
  transform: translateX(112px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(112px);
  -moz-transform: translateX(112px);
  -ms-transform: translateX(112px);
  -o-transform: translateX(112px);
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}






/*5- BTN LOGOS*/
.btnLink{
  background-color: transparent;
  border: none;
  margin-right: 40px;
  justify-items: center;
  align-items: center;

  position: relative;
  display: inline-block;
}

.techLogo{
  justify-items: center;
  align-items: center;

  position: relative;
  display: inline-block;
}


.btnLogo{
  width: 2rem;
  transition-duration: 200ms; 
  height: 2rem;
  stroke: #ced4da; /*CAMBIA EL COLOR DEL ICONO*/
}

.logoCSS:hover > .btnCSSLogo{
  stroke: #264de4;
  scale: 1.25;
}

.logoHTML:hover > .btnHTMLLogo{
  scale: 1.25;
  stroke: #e34c26;
}

.logoJS:hover > .btnJSLogo{
  scale: 1.25;
  stroke: #f0db4f;
}

.logoSpringBoot:hover > .btnSpringBootLogo{
  scale: 1.25;
  stroke: #8BC34A;
} 

.logoMySQL:hover > .btnMySQLLogo{
  scale: 1.25;
  stroke: #018FB4;
}

.logoBootstrap:hover > .btnBootstrapLogo{
  scale: 1.25;
  stroke: #6C19FF;
}

.btnGit:hover > .btnGitLogo{
  scale: 1.25;
  stroke: #863bf6;
}

.btnLinkedIn:hover > .btnLinkedInLogo{
  scale: 1.25;
  stroke: #0a66c2;
}

.tooltip{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #0b798a; /*EL COLOR DEBERIA CAMBIAR SEGUN EL COLOR DEL LOGO
                          O TENDRIA QUE HACER UN COLOR UNICO?*/
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #0b798a transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.techLogo:hover .tooltip,.btnLink:hover .tooltip {
  top: 120%;
  opacity: 1;
  visibility: visible;
  background: #0e94a0;
  transform: translate(-50%, -5px);
  -webkit-transform: translate(-50%, -5px);
  -moz-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  -o-transform: translate(-50%, -5px);
}







/*6- EFFECTS*/
.effect-rotate-left .container {
  transform-origin: 0% 50%;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}
.effect-rotate-left--animate .container {
  transform:  translateX(-50%) rotateY(45deg);
  /* outline: 30px solid #6E8387; */
  -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  -moz-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  -ms-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  -o-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
}





/*7- RESPONSIVE DESIGN*/

@media (max-width: 1100px) {
  .intro--banner h1{
    font-size: 50px;
  }
  .intro--banner p{
    font-size: 25px;
  }
  .intro--banner img {
    width: 850px;
  }


  .btnTechWeb{
    display: grid;
    justify-content: center;
  }
  
  .btnTechWeb .button{
    justify-self: center;
  }

  .techs{
    justify-content: space-between;
  }

  .techLogo{
    margin-right: 10px;
    margin-left: 10px;
  }

  .tooltip{
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


  .tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #0b798a transparent transparent transparent;
    transform: translate(-50%, 360%);
    -webkit-transform: translate(-50%, 360%);
    -moz-transform: translate(-50%, 360%);
    -ms-transform: translate(-50%, 360%);
    -o-transform: translate(-50%, 360%);
}

  .techLogo:hover .tooltip,.btnLink:hover .tooltip {
    top: 0;
    transform: translate(-50%, -120%);
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
}
  
}

@media (max-width: 920px){
  
  .intro--banner h1{
    font-size: 45px;
  }
  .intro--banner p{
    font-size: 22px;
  }
  
  .intro--banner img {
    /* width: 800px; */
    width: 80%;
    height: 50%;
  }

  .swiperBtn{
    opacity: 0;
    z-index: -10;
  }


}

@media (max-width: 1300px) and (max-height: 800px){
  .swiperBtn{
    opacity: 0;
    z-index: -10;
  }
}



